* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: whitesmoke;
}

.grid-container {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px 3px;
    background-color: rgb(161, 141, 161);
}

.cell {
    background-color: white;
    width: 100px;
    box-sizing: border-box;
    height: 5rem;
    text-align: center;
    align-items: center;
    font-size: 60px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

#title-text {
    font-family: fantasy;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 10px;
}

.player-display {
    margin: 10px;
}

.result-display {
    margin: 10px;
}

#reset-btn {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(170, 182, 11, 0.664);
    border-radius: 8px;
    cursor: pointer;
}



#reset-btn:hover {
    background-color: rgb(35, 185, 93);
}